button {
  background-color: var(--color-black);
  border: none;
  outline: none;
  display: block;
  padding: 1.75rem 2.1rem;

  svg {
    height: 1.8rem;
    color: white;

    @include respond(md) {
      height: 2.4rem;
    }
  }

  &:hover {
    background-color: var(--color-dark-gray);
  }

  @include respond(md) {
    padding: 2.65rem 3.3rem;
  }
}
