.controls button {
  background-color: var(--color-black);
  border: none;
  outline: none;
  display: block;
  padding: 1.75rem 2.1rem;

  svg {
    height: 1.8rem;
    color: white;
    opacity: 100%;

    @include respond(md) {
      height: 2.4rem;
    }

    transition: opacity 0.8s cubic-bezier(0.87, 0, 0.13, 1);
  }

  &:hover {
    background-color: var(--color-dark-gray);
  }

  @include respond(md) {
    padding: 2.65rem 3.3rem;
  }
}
