.header {
  &__hero {
    @include respond(md) {
      display: flex;
    }
  }

  &__controls {
    position: relative;

    @include respond(md) {
      width: 50%;
      flex-shrink: 0;
    }

    @include respond(xl) {
      width: 58.33%;
    }
  }

  &__img {
    overflow: hidden;

    &-container {
      height: 360px;
      display: flex;
      width: 300%;

      transition: transform 0.8s cubic-bezier(0.87, 0, 0.13, 1);

      @include respond(md) {
        height: 100%;
      }
    }

    @include respond(md) {
      height: 100%;
    }
  }

  .slider-img {
    height: 100%;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-1 {
      background-image: url("./resources/mobile-image-hero-1.jpg");

      @include respond(md) {
        background-image: url("./resources/desktop-image-hero-1.jpg");
      }
    }

    &-2 {
      background-image: url("./resources/mobile-image-hero-2.jpg");

      @include respond(md) {
        background-image: url("./resources/desktop-image-hero-2.jpg");
      }
    }

    &-3 {
      background-image: url("./resources/mobile-image-hero-3.jpg");

      @include respond(md) {
        background-image: url("./resources/desktop-image-hero-3.jpg");
      }
    }
  }

  .controls {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

    @include respond(md) {
      right: -160px;
      z-index: 10;
    }
  }

  &__hero-copy {
    overflow: hidden;

    &-container {
      display: flex;
      width: 300%;

      transition: transform 0.8s cubic-bezier(0.87, 0, 0.13, 1);
    }

    &-items {
      padding: 6rem 3.2rem 7.4rem 3.2rem;
      flex: 1;

      @include respond(md) {
        padding: 6rem 4rem 12rem;
      }

      @include respond(lg) {
        padding: 7rem 6rem 12rem;
      }

      @include respond(xl) {
        padding: 8rem 7rem 13rem 7rem;
      }

      @include respond(2xl) {
        padding: 12rem 10rem 14rem 10rem;
      }
    }
  }

  &__about-our-furniture {
    @include respond(md) {
      display: flex;
    }
  }

  &__copy {
    padding: 5.2rem 3.2rem;

    @include respond(lg) {
      padding: 6.8rem 4.8rem;
    }
  }

  @include respond(md) {
    flex-grow: 1;
  }
}

.about__image {
  height: 26.6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 26.6rem;

  &-1 {
    background-image: url("./resources/image-about-dark.jpg");

    @include respond(md) {
      width: 29.17%;
      flex-shrink: 0;
    }
  }

  &-2 {
    background-image: url("./resources/image-about-light.jpg");
    @include respond(md) {
      width: calc(50% - 160px);
      flex-shrink: 0;
    }

    @include respond(xl) {
      width: calc(41.67% - 160px);
    }
  }

  @include respond(md) {
    height: auto;
  }
}
