.hero {
  @include respond(md) {
    display: flex;
  }

  @include respond(fullShort) {
    height: 66vh;
  }

  &__carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;

    @include respond(sm) {
      aspect-ratio: 16/9;
    }

    @include respond(md) {
      aspect-ratio: auto;
      width: 50%;
      flex-shrink: 0;
    }

    @include respond(xl) {
      width: 58.33%;
    }
  }

  &__images {
    overflow: hidden;
    height: 100%;

    @include respond(md) {
      height: 100%;
    }

    &-container {
      height: 100%;
      display: flex;
      width: 500%;

      @include respond(md) {
        height: 100%;
      }
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

    @include respond(md) {
      left: 100%;
      z-index: 10;
    }
  }

  &__copy {
    overflow: hidden;

    &-container {
      display: flex;
      width: 500%;

      @include respond(fullShort) {
        height: 100%;
      }
    }

    &-item {
      padding: 6rem 3.2rem 7.4rem 3.2rem;
      flex: 1;

      @include respond(md) {
        padding-bottom: 12rem;
      }

      @include respond(lg) {
        padding: 7rem 6rem 12rem;
      }

      @include respond(xl) {
        padding: 8rem 7rem 13rem 7rem;
      }

      @include respond(2xl) {
        padding: 11.6rem 10rem 14rem 10rem;
      }

      @include respond(fullShort) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4vw 5rem;
      }

      @include respond(fullHeight) {
        padding: 0 6.7vw 5rem;
      }
    }
  }
}

.slider-img {
  height: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-1 {
    background-image: url("./resources/mobile-image-hero-1.jpg");

    @include respond(sm) {
      background-image: url("./resources/desktop-image-hero-1.jpg");
    }
  }

  &-2 {
    background-image: url("./resources/mobile-image-hero-2.jpg");

    @include respond(sm) {
      background-image: url("./resources/desktop-image-hero-2.jpg");
    }
  }

  &-3 {
    background-image: url("./resources/mobile-image-hero-3.jpg");

    @include respond(sm) {
      background-image: url("./resources/desktop-image-hero-3.jpg");
    }
  }
}
